.content {
  display: flex;
  justify-content: space-between;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.recipe-item {
  flex-basis: 33.3333%;
  flex-shrink: 2;
  display: flex;
}
